@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap");

body {
  background: #f5f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  background-color: white;
  box-shadow: 34px 43px 86px -9px gray;
  font-family: 'Roboto Slab', sans-serif;
}

nav{
font-family: Montserrat, sans-serif;
}
